
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif; 
    -webkit-font-smoothing: antialiased;    
    }
body {
    font-size: 10px; 
    font-size: 1rem;
    }    
.content {
    width: 60%;
    margin: 0 auto;
    padding: 0 20px;
    }

/* Navigation Section */

.top-navigation {
    background-color: #fff;
    font-size: 1.6rem;
    color: #838994; 
    letter-spacing: 0.05rem;
    position: fixed;
    width: 100%;
    z-index: 9999;
    }
.top-navigation > .content {
    height: 70px;
    }
.top-navigation .logo {
    margin-top: 14px;
    }
.top-navigation .links {
    color: #838994;
    float: right;
    margin-top: 2.6rem;
    }    
.top-navigation .links li {
    display: inline-block;
    margin-left: 2.2rem;
    }        
.top-navigation .links li.active {
    color: #4c5058;
    font-weight: 500;
    }
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
    }    

/* INTRODUCTION SECTION */

.introduction {
    background-image: url('../images/background.jpg');
    background-position: 0 bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60rem;
    color: #fff;
    text-align: center;
    overflow: auto;
    }
.introduction h1 {
    font-size: 5.2rem;
    font-weight: 300;
    margin-top: 21rem;    
    }
.introduction h3 {
    font-size: 2.6rem;
    font-weight: 300;
    margin-top: 2rem;
    }
button {
    color: #fff;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    }
.big-button {
    width: 156px;
    font-size: 1.8rem;
    margin: 0 auto;
    padding: 16px 20px;
    margin-top: 3rem;
    }

/* CASES SECTION */

.cases {
    color: #000;
    text-align: center;
    }
.cases h2 {
    font-size: 4.2rem;
    font-weight: 300;
    margin-top: 12rem;    
    margin-bottom: 4rem;    
    }
.cases .device-group {
    display: flex;
    margin-bottom: 2rem;
    }    
.cases .devices {
    width: 33.3333333%;
    display: inline-block;
    height: 100%;
    }
.devices h3 {
    font-size: 2.6rem;
    font-weight: 400;
    margin-top: 3rem;    
    margin-bottom: 3rem;    
    }

/* FOOTER */

footer {
    margin-top: 4rem;
    text-align: center;
    color: #eaebec;
    margin-bottom: 10rem;
    }
footer hr {
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid #eaebec;  
    }
footer h4 {
    color: #000;
    font-size: 1.6rem;
    margin-top: 1rem auto;
    }
footer .icons {
    height: 80px;
    padding-top: 26px;
    }    
.icons > li {
    font-size: 1.6rem;
    height: 38px;
    width: 38px;
    border: 1px solid #eaebec;
    display: inline-block;
    border-radius: 50%;
    line-height: 3.8rem;
    }
.icons .icon-twitter {
    color: #55acee;
    }
.icons .icon-facebook {
    color: #4c66a4;
    }
.icons .icon-instagram {
    color: #3f729b;
    }
footer small {
    font-size: 1.4rem;
    font-weight: 300;
    color: #838994;
    }    
