
body {
    font-family: 'Roboto', sans-serif; 
    -webkit-font-smoothing: antialiased;    
    }

.content {
    width: 60%;
    margin: 0 auto;
    padding: 0 15px;
    }

/* Navigation Section */

.top-navigation {
    background-color: #fff;
    font-size: 16px;
    color: #838994; 
    letter-spacing: 0.03em;
    position: fixed;
    }

.top-navigation > .content {
    height: 70px;
    }

.top-navigation .logo {
    margin-top: 14px;
    }

.top-navigation .links {
    color: #838994;
    float: right;
    margin-top: 1.6em;
    }    

.top-navigation .links li {
    display: inline-block;
    margin-left: 1.2em;
    }        

.top-navigation .links li.active {
    color: #4c5058;
    font-weight: 500;
    }

.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
    }    


/* BUTTONS */

button {
    color: #fff;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    }
.big-button {
    width: 9em;
    font-size: 1.125em;
    margin: 0 auto;
    padding: 16px 20px;
    margin-top: 1.5em;
    }


/* INTRODUCTION SECTION */

.introduction {
    background-image: url('../images/background.jpg');
    background-position: 0 bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 620px;
    color: #fff;
    text-align: center;
    overflow: auto;
    }
.introduction h1 {
    font-size: 3.125em;
    font-weight: 300;
    margin-top: 210px;    
    }
.introduction h3 {
    font-size: 1.563em;
    font-weight: 300;
    margin-top: 20px;
    }

/* CASES SECTION */

.cases {
    color: #000;
    text-align: center;
    overflow: auto;
    }
.cases h2 {
    font-size: 2.8em;
    font-weight: 300;
    margin-top: 126px;    
    margin-bottom: 40px;    
    }        
.cases .devices {
    width: 33.3333333%;
    display: inline-block;
    /* styles to assist with debugging */
    border: 1px solid black;
    box-sizing: border-box;
    height: 4em;
    }


